@import "regalos.css";

.select{
    margin-top: 30px;
    padding: 12px;
    width: 56%;
}

.inactive{
   
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 100%;
}

@media (max-width: 750px){

    .titulo{
      font-size: 25px;
    }

    .hora{
        flex-direction: column;
        align-items: center;
    }

    .time > .test{
   
        width: auto;
    }
    

    .foot{
        padding-bottom: 40%;
    }

    .test{
        width: 100%;
    }

    .select{
        margin-top: 30px;
        padding: 12px;
        width: 100%;
    }
    
    
}