@import "inicio.css";

.parrafo {
    font-size: 25px;
    font-weight: normal;
    width: 100%;
    margin-bottom: 4%;
    margin-top: 4%;
}

.fullWidth:last-child{
    margin-top: 10%;
}


@media (max-width: 970px){

    .parrafo {
        font-size: 15px;
    }

   

    #toogle{
        margin-bottom: 5%;
    }
}

@media (max-width: 570px){

    .parrafo {
        font-size: 15px;
    }


    #toogle{
        margin-bottom: 10%;
    }
}