@import "registro.css";


.test{
    width: 56%;
}

.hora {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 62.5%;
}

.time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.time > .test{
   
    width: 80%;
}


.fondo {
    height: 20%;
    width: 100%;
}


@media (max-width: 550px){

    .titulo{
      font-size: 25px;
    }

    .hora{
        flex-direction: column;
        align-items: center;
    }

    .time > .test{
   
        width: auto;
    }
    

    .foot{
        padding-bottom: 40%;
    }

    .test{
        width: 100%;
    }

    .select{
        margin-top: 30px;
        padding: 12px;
        width: 100%;
    }
    
    
}